
<div>
    <input id="btn" type="button" value="Get All Tweets" />
    <input id="btnClear" type="button" value="Clear" />
    <div id="tweetsDiv"></div>
</div>

@section scripts
{
    <script type="text/javascript">
            $(document).ready(function () {
                $('#btn').click(function () {
                    $.ajax({
                        Host: 'badapi.iqvia.io',
                        type: 'GET',
                        accept: 'application/json',
                        url: "https://badapi.iqvia.io/api/v1/Tweets?startDate=2016-01-01T00%3A00%3A00.000Z&endDate=2017-12-31T23%3A59%3A59.999Z",
                        dataType: 'json',
                        success: function (data) {
                            $("#tweetsDiv").append(data);
                        }
                    });
                });
                $('#btnClear').click(function () {
                    $("#tweetsDiv").empty();
                });
            });
    </script>
}